html, body {
    /* 設定body高度為100% 拉到視窗可視的大小 */
    height: 100%;
}

.unselectable {
    pointer-events: none;
}

.comming-soon {
    position: fixed;
    top: 30vh;
    width: 100vw;
    color: #0c5460;
    font-size: 3rem;
    text-align: center;
}

.main-container {
    margin-top: 1rem;
}